<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fy.mapper.RoleMapper">

    <select id="findAll" resultType="com.fy.pojo.Role">

        select * from hh_role

    </select>

    <delete id="deletehhRoleId">

         delete from hh_role where hh_role_id in (

         <foreach collection="array" item="id" separator=",">
             #{id}
         </foreach>

         )

    </delete>

    <update id="UpdateState">
        update  hh_role set hh_role_status=#{hhRoleStatus} where hh_role_id in(
        <foreach collection="hhRoleIds" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <update id="toStop">
        update  hh_role set hh_role_status=#{hhRoleStatus} where hh_role_id in(
        <foreach collection="hhRoleIds" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>


    <insert id="SaveRole">
        insert into hh_role (hh_role_id,hh_role_name,hh_role_remarks,hh_role_order_no,hh_role_status,create_by,create_time,create_dept,update_by,update_time)
       values(
       #{hhRoleId},
       #{hhRoleName},
       #{hhRoleRemarks},
       #{hhRoleOrderNo},
       #{hhRoleStatus},
        #{createBy,jdbcType=VARCHAR},
 		  #{createDept,jdbcType=VARCHAR},
 		  #{createTime,jdbcType=DATE},
 		  #{updateBy,jdbcType=VARCHAR},
 		  #{updateTime,jdbcType=DATE}
       )
    </insert>


    <update id="update">
       update hh_role
         <set>
             hh_role_name=#{hhRoleName},
             hh_role_remarks=#{hhRoleRemarks},
             hh_role_order_no=#{hhRoleOrderNo},
             hh_role_status=#{hhRoleStatus},
             <if test="createBy !=null">create_by = #{createBy},</if>
             <if test="createDept !=null">create_dept = #{createDept},</if>
             <if test="createTime !=null">create_time = #{createTime},</if>
             <if test="updateBy !=null">update_by = #{updateBy},</if>
             <if test="updateTime !=null">update_time = #{updateTime}</if>
         </set>
         where hh_role_id=#{hhRoleId}
    </update>



</mapper>
